<div class="footer-component">
	<div class="row">
		<div class="col-sm-6 col-md-6 col-lg-6">
			<div class="center-content">© 2021, Telescope. All rights reserved</div>
			<div class="center-content">
				<a target="_black" href="assets/static/privacy.html">Privacy</a> |
				<a target="_black" href="assets/static/terms.html">Terms</a> |
				<!-- <a target="_black" href="assets/static/sitemap.html">Site map</a> | -->
				<a target="_black" href="assets/static/aboutus.html">About us</a> |
				<a target="_black" href="assets/static/contactus.html">Contact us</a>
			</div>
			<div class="center-content">
				<a href="admin">Admin</a> |
				<a href="media">Media</a> |
				<a href="nobels">Nobels</a>
			</div>
		</div>

		<!-- <div class="col-sm-4 col-md-4 col-lg-4">
			<div class="center-content"><a href="dashboard">Updates</a> | <a href="admin">Admin</a> | <a href="contribute">Contribute</a> | <a href="newsletter">Newsletters</a></div>
		</div> -->

		<div class="col-sm-6 col-md-6 col-lg-6">
			<div class="center-content"><a href>Twitter</a> | <a href>YouTube</a> | <a href>LinkedIn</a> | <a href>Facebook</a> | <a href>Instagram</a></div>
			<div class="center-content">Language: <a href>English</a> | <a href>తెలుగు</a> | <a href>हिंदी</a></div>
		</div>
	</div>
</div>
