@import "variables";

.header {
	font-size: 0.875rem;
	padding: 5px;

	select,
	input {
		height: 26px;
	}

	.filter-section {
		div {
			display: inline;
		}

		.search-container {
			padding: 2px;

			.text-search {
				width: 120px;
			}
		}

		.filtered-posts-count {
			margin-top: 5px;
		}

		button {
			border-radius: 5px;
			margin-left: 8px;
		}
	}

	.search-url {
		.search-text {
		}
		.search-input {
			margin: 5px;
		}
		.copy-button {
		}
	}

	.display-section {
		text-align: right;
	}
}
