.view-episode-details {
  position: relative;

  width: 100%;
  height: 360px;

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    width: 66%;
    height: 500px;
  }

  .view-youtube-video {
    width: 100%;
    height: 100%;
  }
}
